* {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col {
  flex-direction: column;
}

.header {
  padding-top: 20px;
  width: calc(100% - 200px);
  padding-left: 100px;
  padding-right: 100px;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  .logo {
    gap: 10px;
    font-weight: 300;
    font-size: 3rem;
    cursor: pointer;
    .line {
      width: 30px;
      height: 2px;
      background: black;
    }
  }
  .menu-bars {
    gap: 5px;
    .bar {
      width: 50px;
      height: 2px;
      background: black;
    }
  }
}

.main-container {
  .top-container {
    height: 93vh;
    width: 100%;
    justify-content: end;
    h1 {
      font-size: 20rem;
      text-transform: uppercase;
      line-height: 250px;
      font-weight: 100;
    }
    h1:first-child {
      align-self: flex-start;
    }
    h1:last-child {
      align-self: flex-end;
    }
  }
}
